<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <add value="index.php" />
            </files>
        </defaultDocument>
    </system.webServer>
    <location path="index.php">
        <system.webServer>
            <staticContent>
                <mimeMap fileExtension=".php" mimeType="application/php" />
            </staticContent>
        </system.webServer>
    </location>
</configuration>
